* text=auto eol=lf
*.sh text eol=lf diff=bash
*.bash text eol=lf diff=bash
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.py text diff=python
*.py3 text diff=python
*.pyc text diff=python
*.json text diff=json linguist-language=JSON
*.jsonc text diff=json linguist-language=JSONC
*.yaml text diff=yaml linguist-language=YAML
*.yml text diff=yaml linguist-language=YAML
*.xml diff=xml
*.md text diff=markdown linguist-detectable linguist-documentation
*.jpg binary diff=exif
*.jpeg binary diff=exif
*.webp binary diff=exif
*.avif binary diff=exif
*.ico binary diff=exif
*.bmp binary diff=exif
*.svg text
*.7z binary
*.gz binary
*.tar binary
*.tgz binary
*.zip binary
*.zstd binary
*.diff -tex diff=patch linguist-language=Diff
*.patch -text diff=patch linguist-language=Diff
.gitignore export-ignore
